body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
    max-width: 100%;
    overflow-y: hidden;
}

.card {
    max-width: 300px;
    margin: 15px;
}

.card>h3 {
    margin: 0;
    padding: 0;
}

.card>p {
    margin: 0;
    padding: 5px;
    font-size: 15px;
}

.price {
    color: grey;
    font-size: 20px;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card a {
    padding: 6px 15px 6px 15px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 16px;
    text-decoration: none;
}

.card a:hover {
    background-color: white;
    color: #000;
    border: 1px solid black;
}

section{
    overflow-y: scroll;
    padding-top: 30px;
}

section>h2, section>h1, section>p {
    margin: 0 0 0 35px;
}

section>h1 {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card>img {
    height: 200px;
    object-fit: cover;
}